﻿@using System.Globalization
@model List<MyCard>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Card.css?v=1">
   
</head>
<body>
    <h3>Kartice</h3>

    @using (Html.BeginForm("Card", "Home", FormMethod.Get, new { id = "filterForm" }))
    {
        <div class="search-bar-box">
            <label for="searchText">Search:</label>
            <input type="text" id="searchText" name="searchText" placeholder="Search..." value="@ViewBag.SearchText">
        </div>

        <div class="select-container">
            <label for="year"></label>
            <select name="year" id="year" class="custom-select">

                @if (ViewBag.SelectedYear == 0)

                @if(ViewBag.SelectedYear == 0)

                {
                    <option selected value="0">All Years</option>
                }
                else
                {
                    <option value="0">All Years</option>
                }

                @if (ViewBag.SelectedYear == 2024)
                {
                    <option selected value="2024">2024</option>
                }
                else
                {
                    <option value="2024">2024</option>
                }

                @if (ViewBag.SelectedYear == 2023)
                {
                    <option selected value="2023">2023</option>
                }
                else
                {
                    <option value="2023">2023</option>
                }

                @if (ViewBag.SelectedYear == 2022)
                {
                    <option selected value="2022">2022</option>
                }
                else
                {
                    <option value="2022">2022</option>
                }
            </select>

            <label for="visa"></label>
            <select name="Visa" id="visa" class="custom-select">
                @if(ViewBag.SelectedVisa == null)
                {
                    <option selected value="null">All Cards</option>
                }
                else
                {
                    <option value="null">All Cards</option>
                }

                @if(ViewBag.SelectedVisa == true)
                {
                    <option selected value="true">Visa</option>
                }
                else
                {
                    <option value="true">Visa</option>
                }

                @if(ViewBag.SelectedVisa == false)
                {
                    <option selected value="false">Master Card</option>
                }
                else
                {
                    <option value="false">MasterCard</option>
                }
            </select>
        </div>
        <div class="flex-container">
            <input class="submit" type="submit" value="Filter" />
        </div>
    }
     <div class="flex-container">
        @foreach (var card in Model) 
        {
            <div class="card" onclick="openModal('@card.FullName', '@card.CardNumber', '@card.ExpirationDate.ToString("MM/yyyy", CultureInfo.InvariantCulture)', '@card.cvv','@card.CardIssuanceDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)')">
                <img class="logo" src="~/lib/images/icon.png" />
                <h2>@card.FullName</h2>
                <p class="card-number">
                    <span class="card-number-text">@card.CardNumber</span>
                </p>
                <p class="card-date">
                    <span class="card-date-text">@card.ExpirationDate.ToString("MM/yyyy", CultureInfo.InvariantCulture)</span>
                </p>
                @if (card.Visa)
                {
                    <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
                }
                else
                {
                    <img class="master-logo" src="~/lib/images/Master_Card.png" />
                }
            </div>
        }
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('myModal')">&times;</span>
            <h2 id="modal-card-name"></h2>
            <p id="modal-card-number"></p>
            <p id="modal-card-expiration"></p>
            <h2>More info:</h2>
            <p id="hidden-card-production"></p>
            <p id="hidden-card-cvv"></p>
        </div>
    </div>

    <div class="modal fade" id="bootstrapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">More Info About Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('bootstrapModal')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 id="modal-card-name-bootstrap"></h2>
                    <p id="modal-card-number-bootstrap"></p>
                    <p id="modal-card-expiration-bootstrap"></p>
                    <h2>More info:</h2>
                    <p id="hidden-card-production-bootstrap"></p>
                    <p id="hidden-card-cvv-bootstrap"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openModal(name, number, expiration, cvv, production) {
            if (name === 'Eugen Deur' || name === 'Tomislav Tolj' || name === 'Luka Modrić') {
                document.getElementById("modal-card-name").innerText = name;
                document.getElementById("modal-card-number").innerText = "Card Number: " + number;
                document.getElementById("modal-card-expiration").innerText = "Expiration Date: " + expiration;
                document.getElementById("hidden-card-production").innerText = "Date of production: " + production;
                document.getElementById("hidden-card-cvv").innerText = "CVV: " + cvv;
                document.getElementById("myModal").style.display = "block";
                document.getElementById("hidden-card").style.display = "block";
            } else {
                document.getElementById("modal-card-name-bootstrap").innerText = name;
                document.getElementById("modal-card-number-bootstrap").innerText = "Card Number: " + number;
                document.getElementById("modal-card-expiration-bootstrap").innerText = "Expiration Date: " + expiration;
                document.getElementById("hidden-card-production-bootstrap").innerText = "Date of production: " + production;
                document.getElementById("hidden-card-cvv-bootstrap").innerText = "CVV: " + cvv;

                $('#bootstrapModal').modal('show');
            }
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
            document.getElementById("hidden-card").style.display = "none";
        }
    </script>


    
</body>
</html>