@using System.Globalization
@model List<MyTransaction>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaćanje</title>
    <style>
        h2 {
            margin: auto;
            text-align: center;
            padding-bottom:25px;
        }
        table {
           padding-top:25px;
            margin:auto;
           text-align:center;
            border-collapse: collapse;
            width: 70%;        }
        
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tfoot td {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2>Identifikator transakcije</h2>
    <table id="transactionTable">
        <thead>
            <tr>
                <th>Identifikator transakcije (Trx Id)</th>
                <th>Vrijeme transakcije</th>
                <th>Tip transakcije</th>
                <th>Iznos transakcije</th>
                <th>Lokacija</th>
                <th>Način plaćanja</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            <!-- Negative transactions -->
           @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Id</td>
                    <td>@payment.DateOfTransaction.ToString("d/MM/yyyy")</td>
                    <td>@(payment.TypeOfTransaction ? "Isplata" : "Online kupovina")</td>
                <td>@payment.TransactionAmount</td>
                <td>@payment.Location</td>
                    <td>@(payment.MethodOfPayment ? "Gotovina" : "Kartično plaćanje")
                <td>@payment.Description</td>
            </tr>
        }
           
               
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">COUNT</td>
                <td id="totalAmount">@ViewBag.SumaTransakcija</td>
                <td colspan="3">SUM: <span id="totalCount">@ViewBag.BrojTransakcija</span></td>
        </tr>
        </tfoot>
    </table>
    
</body>
</html>