<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalFinanceAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalFinanceAppMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/myStyle.css" />
</head>
<body>
    <div id="nav-bar">
        <p class="first text"><img class="firstIcon" src="~/lib/images/icon.png" />PersonalFinanceApp</p>
        <h6>Izbornik <hr/></h6>
        <div class="firstPartNavbar">
            <ul class="navbar-nav">

                <li class ="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><img src="~/lib/images/pregled.png" alt="Pregled" />Pregled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Card", "Home")"><img src="~/lib/images/card.png"  />Kartica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Placanje", "Home")"><img src="~/lib/images/plaćanje.png" alt="Pregled" />Plaćanje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Statistika", "Home")"><img src="~/lib/images/statistika.png" alt="Pregled" />Statistika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Izvjesce", "Home")"><img src="~/lib/images/izvješće.png" alt="Pregled" />Izvješće</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Proracun", "Home")"><img src="~/lib/images/proračun.png" alt="Pregled" />Proračun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Racun", "Home")"><img src="~/lib/images/račun.png" alt="Pregled" />Profil</a>
                </li>
            </ul>
        </div>

        <h6>Kategorije <hr /> </h6>
       
        <div class="Kategorija">
            <ul>
                <li class ="nav-item">
                    <a class="nav-link" href="@Url.Action("Prihod", "Home")"><img src="~/lib/images/krug.png" alt="Pregled" />Prihod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dugovi", "Home")"><img src="~/lib/images/krug.png" alt="Pregled" />Dugovi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Racuni", "Home")"><img src="~/lib/images/krug.png" alt="Pregled" />Računi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Ulaganja", "Home")"><img src="~/lib/images/krug.png" alt="Pregled" />Ulaganja</a>
                </li>
            </ul>
        </div>
        <div class="postavke">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Postavke", "Home")"><img src="~/lib/images/postavke.png" alt="Pregled" />Postavke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Info", "Home")"><img src="~/lib/images/info.png" alt="Pregled" />Informacije</a>
                </li>
            </ul>
        </div>
        <a class="odjava" href="#"><img src="~/lib/images/odjava.png" alt="Pregled" />Odjava</a>
    </div>
    <div id="main-div">
        <div id="sticky-bar">
            <div class="search-bar">
                <from action="">
                    <img class="secondIcon" src="~/lib/images/search.png" />
                    <input type="text" id="search-input" placeholder="Search...">

                </from>
            </div>
        </div>
        <div class="image-container">
            <img id="image" src="~/lib/images/profilna.png" alt="Sample Image">
            <p id="text">Eugen Deur <br />Special Member</p>
        </div>
    </div>
    </div>
    <hr/>
    <div id="main-div">
        <div id="main-content">
            <h1>Pregled</h1>
            
        </div>
    </div>

    
    
   
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
